<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated process -->
      <package
            uri="http://www.nat-spec.com/library/processes"
            class="de.devboost.natspec.process.processes.ProcessesPackage"
            genModel="model/process.genmodel"/>
   </extension>

</plugin>
